In [1]:
import pandas as pd
import numpy as np
from src.my_functions import clean as mfc
pd.set_option('display.max_columns', None)

## DATASET IMPORT

In [2]:
df_backup = pd.read_csv('data/attacks.csv',encoding='cp1252')

## DATASET EXPLORATION

In [3]:
df = df_backup.copy()

In [4]:
df.sample(15)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
19722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8676,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3911,1961.04.00,Apr-1961,1961.0,Provoked,AUSTRALIA,Western Australia,Rottnest Island,Spearfishing,Gerry Greaves,M,NaN,Speared shark bit his arm & seat of pants of d...,N,NaN,"Wobbegong shark, 1.4 m [4.6']","Perth Daily News, 4/19/1961",1961.04.00-Greaves.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1961.04.00,1961.04.00,2392.0,NaN,NaN
1249,2008.06.11,11-Jun-2008,2008.0,Unprovoked,BRAZIL,Pernambuco,"Punta Del Chifre, Olinda",Surfing,Juan Rodrigues Galvao,M,14,Laceration to left leg & foot,N,NaN,NaN,"O Globo, 6/12/2008",2008.06.11-Rodrigues.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2008.06.11,2008.06.11,5054.0,NaN,NaN
14496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(25723, 24)

In [6]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

## DATASET CLEANING

### Cleaning of columns

First I am going to clean column names and avoid spaces and capital letters.

In [8]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [9]:
col_names_fixed = list(map(mfc.clean_col_names,list(df.columns)))

In [10]:
rename_col_dict = {col: col_names_fixed[i] for i, col in enumerate(df.columns)}

In [11]:
print(rename_col_dict)

{'Case Number': 'case_number', 'Date': 'date', 'Year': 'year', 'Type': 'type', 'Country': 'country', 'Area': 'area', 'Location': 'location', 'Activity': 'activity', 'Name': 'name', 'Sex ': 'sex', 'Age': 'age', 'Injury': 'injury', 'Fatal (Y/N)': 'fatal', 'Time': 'time', 'Species ': 'species', 'Investigator or Source': 'investigator_or_source', 'pdf': 'pdf', 'href formula': 'href_formula', 'href': 'href', 'Case Number.1': 'case_number.1', 'Case Number.2': 'case_number.2', 'original order': 'original_order', 'Unnamed: 22': 'unnamed:_22', 'Unnamed: 23': 'unnamed:_23'}

In [12]:
df = df.rename(columns = rename_col_dict )

In [13]:
df.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal', 'time', 'species',
       'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

### Discard of columns

Based on brief exploration, there seems to be a lot of columns with very little use of no use at all.
Also it seems this dataset was created by merge of two subdatasets, based on the columns Case Number.1 and Case Number2.

Now let's make a first discard and keep only the columns we may end up finding a use of it.

In [14]:
df = df[['case_number','date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal', 'time', 'species']]

In [15]:
df.shape

(25723, 15)

### Discard rows with no information

I've noticed when looking at the sample above, that some entries have no values at all (i.e. values as NaN). 
Let's remove those.

But first I define as NaN values in column case_number which are in fact NaN but comes with info as '0' or 'xx'

In [16]:
df.case_number.unique()

array(['2018.06.25', '2018.06.18', '2018.06.09', ..., 'ND.0001', '0',
       'xx'], dtype=object)

In [17]:
df.case_number = df.case_number.apply(lambda x: np.NaN if (str(x) == '0') or (str(x) == 'xx') else x)

In [18]:
df = df.dropna(axis = 0, how = 'all')

In [19]:
df.shape

(6302, 15)

### Country

Since my study will be focused only on US and Australia, I filter the dataframe by those countries.
Entry countries seems to be quite well and no clean needed for USA and Australia cases.

In [20]:
df.country.unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [21]:
df = df[(df.country == 'USA') | (df.country == 'AUSTRALIA')]

In [22]:
df.head()

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris …,M,NaN,"No injury, board bitten",N,NaN,NaN

In [23]:
df.shape

(3567, 15)

### Date information

Let's create a new column showing the month.

In [24]:
df['month']=df.apply(mfc.get_month, axis=1)

In addition to this, let's complete the year info.

Let's clean and fill the cases with year 0 with the best estimates by looking at the column date.

    For example if column 'date' says 'Before 1943', year is estimated as 1943.
    If column 'date' says 1900-1904, year is estimated as 1902.

In [25]:
df.month.value_counts()

7.0     406
8.0     374
9.0     355
6.0     306
10.0    295
4.0     270
1.0     260
11.0    249
12.0    249
3.0     223
5.0     213
2.0     208
Name: month, dtype: int64

In [26]:
df.year.unique()

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000., 1999., 1998., 1997., 1996., 1995., 1994., 1993.,
       1992., 1991., 1990., 1989., 1988., 1987., 1986., 1985., 1984.,
       1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976., 1975.,
       1974., 1973., 1972., 1971., 1970., 1969., 1968., 1967., 1966.,
       1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
       1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
       1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940., 1939.,
       1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931., 1930.,
       1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922., 1921.,
       1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913., 1912.,
       1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904., 1903.,
       1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895., 1894.,
       1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886., 1885.,
       1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877., 1876.,
       1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868., 1867.,
       1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859., 1858.,
       1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849., 1848.,
       1847., 1845., 1842., 1841., 1840., 1839., 1837., 1836., 1832.,
       1831., 1830., 1829., 1828., 1825., 1817., 1816., 1810., 1807.,
       1805., 1804., 1803., 1791., 1788., 1780., 1779., 1771., 1751.,
       1642.,    5.,    0.])

In [27]:
df['year_clean'] = df.apply(lambda x: mfc.clean_year(x), axis=1)

In [28]:
df.year_clean.unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008,
       2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997,
       1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 1987, 1986,
       1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976, 1975,
       1974, 1973, 1972, 1971, 1970, 1969, 1968, 1967, 1966, 1965, 1964,
       1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953,
       1952, 1951, 1950, 1949, 1948, 1947, 1946, 1945, 1944, 1943, 1942,
       1941, 1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932, 1931,
       1930, 1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921, 1920,
       1919, 1918, 1917, 1916, 1915, 1914, 1913, 1912, 1911, 1910, 1909,
       1908, 1907, 1906, 1905, 1904, 1903, 1902, 1901, 1900, 1899, 1898,
       1897, 1896, 1895, 1894, 1893, 1892, 1891, 1890, 1889, 1888, 1887,
       1886, 1885, 1884, 1883, 1882, 1881, 1880, 1879, 1878, 1877, 1876,
       1875, 1874, 1873, 1872, 1871, 1870, 1869, 1868, 1867, 1866, 1865,
       1864, 1863, 1862, 1861, 1860, 1859, 1858, 1857, 1856, 1855, 1853,
       1852, 1851, 1850, 1849, 1848, 1847, 1845, 1842, 1841, 1840, 1839,
       1837, 1836, 1832, 1831, 1830, 1829, 1828, 1825, 1817, 1816, 1810,
       1807, 1805, 1804, 1803, 1791, 1788, 1780, 1779, 1771, 1751, 1642,
          5])

### Type column

According to info from source:
http://www.sharkattackfile.net/incidentlog.htm

Incidents related to boats are considered unprovoked. 
Likewise, we can considered sea disasters as not clear whether was provoked or not. 

But first, let's take a look at the type 'Invalid'.

In [29]:
df[df.type=='Invalid'].sample(10)

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species,month,year_clean
1326,2007.09.22.b,22-Sep-2007,2007.0,Invalid,USA,Florida,Jupiter Inlet,Scuba diving,Nikki Cuomo,F,NaN,Shark involvement prior to death unconfirmed,NaN,NaN,Shark involvement prior to death was not confi...,9.0,2007
3491,1968.00.00.a,1968,1968.0,Invalid,USA,Florida,"Jensen Beach, Martin County",Surfing,NaN,NaN,NaN,NaN,NaN,17h00,Questionable incident,NaN,1968
1900,2001.09.16,16-Sep-2001,2001.0,Invalid,USA,Florida,"2 miles off Pompano Beach, Broward County",Wreck / Technical diving,Eric Reichardt,M,42,FATAL or drowning & scavenging,Y,13h20,Questionable incident - shark bite may have pr...,9.0,2001
3490,1968.00.00.b,1968,1968.0,Invalid,USA,Florida,"Key West, Monroe County",Diving,NaN,NaN,NaN,"Recovered, said to involve a 1m nurse shark",NaN,13h00,Questionable incident,NaN,1968
1771,2003.06.00,Jun-2003,2003.0,Invalid,USA,South Carolina,"Pawleys Island, Georgetown County",Swimming,female,F,22,Foot lacerated,NaN,NaN,Shark involvement not confirmed,6.0,2003
195,2016.12.11.a,11-Dec-2016,2016.0,Invalid,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Shane Garthwait,M,19,Cuts to right ankle & foot,NaN,Afternoon,Shark involvement not confirmed,12.0,2016
2886,1984.08.24,24-Aug-1984,1984.0,Invalid,USA,Florida,"Off Crystal River, Citrus County",Boat capsized?,T. Washington,F,31,Death was due to drowning; body scavenged by a...,NaN,NaN,Invalid,8.0,1984
4858,1937.02.02,1937,1937.0,Invalid,AUSTRALIA,South Australia,Port Germein,12 of the Penang's crew were returning to the ...,"male, one of the crew of the Penang",M,NaN,15' shark seen with the man's body in its mout...,NaN,Night,Shark involvement prior to death was not confi...,2.0,1937
2390,1995.04.16,16-Apr-1995,1995.0,Invalid,USA,Florida,"New Smyrna Beach, Volusia County",NaN,C.M.,M,12,"Dorsum of right hand bitten, a probable bluefi...",NaN,10h35,Invalid,4.0,1995
499,2014.09.13,13-Sep-2014,2014.0,Invalid,USA,California,"Manresa State Beach, Santa Cruz County",Surfing,Beau Browning,M,NaN,"A hoax, no shark involvement",NaN,18h45,No shark involvement,9.0,2014

It seems it has been registered as 'Invalid' all cases where it is quite doubtful about the involvement of a shark. Therefore, let's discard them.

In [30]:
df = df[(df.type != 'Invalid')]

In [31]:
df.shape

(3255, 17)

Now, Let's create a new column with boolean info whether the attack was provoked or not. 
For the ones not clear, we will specify Nan to be checked further later.

In [32]:
df.type.unique()

array(['Boating', 'Unprovoked', 'Provoked', 'Questionable', nan, 'Boat',
       'Sea Disaster'], dtype=object)

In [33]:
df['was_provoked'] = df.apply(lambda x: mfc.was_provoked(x), axis=1)

### Column Fatal

Let's clean this column and report 1 if fatal, 0 if not fatal and NaN for the ones that are not specified.

In [34]:
df.fatal.unique()

array(['N', 'Y', nan, 'UNKNOWN', ' N', 'N '], dtype=object)

In [35]:
df['was_fatal']=df.fatal.apply(lambda x: mfc.clean_fatal(x))

In [36]:
df.was_fatal.value_counts()

0.0    2748
1.0     465
Name: was_fatal, dtype: int64

### Column Species

Now, let's get shark species.

In [38]:
df.species.value_counts()

White shark                       83
4' shark                          40
Tiger shark                       32
6' shark                          28
Bull shark                        27
                                  ..
White shark, 4m to 5m              1
500-lb shark                       1
Said to involve  9' blue shark     1
Whitetip reef shark                1
Hammerhead shark, 3 m [10']        1
Name: species, Length: 954, dtype: int64

In [39]:
df['species_clean'] = df.species.apply(lambda x: mfc.find_type_shark(x))

In [40]:
df.species_clean.unique()

array(['white', nan, 'lemon', 'bull', 'grey reef', 'nurse', 'tiger',
       'wobbegong', 'spinner', 'blacktip', 'sandtiger', 'sevengill',
       'reef', 'whaler', 'hammerhead', 'mako', 'blue', 'sandbar',
       'blacktip reef', 'whitetip', 'whitetip reef', 'galapagos', 'dusky',
       'sand', 'caribbean reef', 'basking', 'silky', 'carpet', 'dog'],
      dtype=object)

According to this [reference](https://www.dpi.nsw.gov.au/__data/assets/pdf_file/0007/375964/Whaler-Sharks.pdf), bull sharks are also called whaler sharks in Australia. Let's unify the name under bull sharks.

In [41]:
df['species_clean'] = np.where(df['species_clean'] == 'whaler', 'bull', df['species_clean'])

In [42]:
df.species_clean.count()

1073

### Area

Now, let's take a look at Area column. It looks quite well instead of some blanks and a small typo

In [43]:
df.area.unique()

array(['California', 'Georgia', 'New South Wales', 'Florida',
       'Queensland', 'South Carolina', 'Westerm Australia',
       'Western Australia', 'Hawaii', 'Victoria', 'South Australia',
       'Texas', 'Massachusetts', 'New Jersey', 'Washington', 'Oregon',
       'Tasmania', 'Alabama', 'North Carolina', 'Maryland', 'Louisiana',
       'Delaware', 'Palmyra Atoll', 'Puerto Rico', 'Maine', 'Virginia',
       'New York', 'Torres Strait', 'Northern Territory',
       'US Virgin Islands', 'Territory of Cocos (Keeling) Islands',
       'Kentucky', 'Guam', 'New Mexico', 'South Carolina ',
       'Johnston Atoll', 'Alaska', 'Missouri', 'Mississippi',
       'Rhode Island', 'North & South Carolina', 'Florida ', nan,
       'Victoria ', 'Pennsylvania', 'Connecticut', 'Wake Island',
       ' North Carolina', 'Midway Atoll', 'Torres Strait ', 'Queensland ',
       'East coast', 'Norfolk Island', ' New Jersey', 'CUBA', 'New York ',
       'North Carolina '], dtype=object)

In [44]:
df['area_clean'] = df.area.str.strip()

In [45]:
df['area_clean'] = np.where(df['area_clean'] == 'Westerm Australia', 'Western Australia', df['area_clean'])

## DATA SAVING

Once cleaned all columns needed for the study, let's keep only the ones to be used and rename them to a more suitable name.

In [46]:
df.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal', 'time', 'species',
       'month', 'year_clean', 'was_provoked', 'was_fatal', 'species_clean',
       'area_clean'],
      dtype='object')

In [47]:
df = df[['year_clean','month', 'country', 'area_clean','was_fatal','was_provoked', 'species_clean']]

In [48]:
df = df.rename(columns = {'year_clean': 'year', 'area_clean': 'area', 'species_clean':'species'} )

df.reset_index(drop=True)

,year,month,country,area,was_fatal,was_provoked,species
0,2018,6.0,USA,California,0.0,0.0,white
1,2018,6.0,USA,Georgia,0.0,0.0,NaN
2,2018,6.0,AUSTRALIA,New South Wales,0.0,0.0,NaN
3,2018,6.0,AUSTRALIA,New South Wales,0.0,0.0,NaN
4,2018,5.0,USA,Florida,0.0,0.0,lemon
...,...,...,...,...,...,...,...
3250,1906,NaN,AUSTRALIA,NaN,1.0,0.0,NaN
3251,1906,NaN,AUSTRALIA,New South Wales,1.0,0.0,nurse
3252,1903,NaN,AUSTRALIA,Western Australia,1.0,0.0,NaN
3253,1903,NaN,AUSTRALIA,Western Australia,1.0,0.0,NaN
3254,1902,NaN,USA,North Carolina,1.0,0.0,NaN

In [49]:
df.to_csv('data/cleaned_shark_attacks.csv', index=False)